.figure
{
  position: relative;
}

.figure-caption h2
{
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
  font-weight: 600;
}

.figure-caption p
{
  position: absolute;
  top: 74px;
  left: 30px;
  color: black;
  font-weight: 300;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width:768)
{
  .figure-caption h2
  {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2em;
  }
  .figure-caption p
  {
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 1em;
  }
}
