.containerCentered h1
{
   text-align: center;

}

.containerCentered .title
{
   height: 40px;
   background-color: blueviolet;
}
.containerCentered 
{
   height: 100vh;
   background-color: burlywood;
}