body {
  margin: 0;
  font-family: 'JosefinSans', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(116, 116, 116) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  background-color: Bisque !important;
}

.col-lg-5 {
  background-color: green !important;
}
.col-lg-6 {
  background-color: red !important;
}
.col-lg-1 {
  background-color: blueviolet !important;
}