body {
  margin: 0;
  font-family: 'JosefinSans', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.figure
{
  position: relative;
}
.figure-caption h1
{
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
}